<fieldset>
    
    <legend>Edit - User</legend>
    
    <div class="row">
        
        <div class="input-group col-md-4">
          <span class="input-group-addon" id="user">User:</span>
          <input type="text" value="[$user]" class="form-control" id="user" aria-describedby="user">
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="text-right">
        
            <a href="[$home]/Users" class="btn btn-danger"> Cancel </a>
            <button class="btn btn-success"> Save </button>
    
        </div>
    </div>    
</fieldset>
